<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="width=device-width, initial-scale=1.0">
    <title>Zalupa</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="crypto-card">
        <img src="btc_logo.png" alt="Bitcoin" class="crypto-image">
        <div class="crypto-info">
            <h2>BTC: $27,000</h2>
            <p>Станом на зараз</p>
        </div>
        <div>
            <button class="bn30" type="reset">Reload</button>
        </div>
    </div>
</body>
</html>